{% extends 'base.html' %}

{% block title %}
Book : {{ book.title | title }}
{% endblock %}

{% block main %}
<div class="col-lg-5 py-4">
    <div
        class="bookimage-lg shadow-lg"
        style="background-image: url('{% if book.image %}{{ book.image.url }}{% else %}/static/img/no-image.png/{% endif %}');">
    </div>
</div>
<div class="col-lg-5 py-4">
    <div class="row">
        <div class="col-lg-12 mb-2">
            <h1>{{ book.title | title }}</h1>
        </div>
        <div class="col-lg-12 mt-2">
            <span class="book-detail-q">Category:</span>
            <span class="book-detail-a">{{ book.category.name | title }}</span>
        </div>
        <div class="col-lg-12 mt-2">
            <span class="book-detail-q">Price:</span>
            <span class="book-detail-a">${{ book.price }}</span>
        </div>
        <div class="col-lg-12 mt-2">
            <span class="book-detail-q">Stock:</span>
            <span class="book-detail-a">{{ book.stock }}</span>
        </div>
        <div class="col-lg-12 mt-2">
            <span class="book-detail-q">Description:</span>
            <p class="text-justify book-detail-a">{{ book.description }}</p>
        </div>
        <div class="col-lg-12">
            <form action="{% url 'cart_add' book.id %}" method="POST">
                {% csrf_token %}
                {{ form.update }}
                <p>
                    <span class="book-detail-q">{{ form.quantity.label }}:</span>
                    {{ form.quantity }}
                </p>
                <button type="submit" class="btn btn-success btn">
                    <i class="fas fa-plus"></i>
                    <b>Add To Cart</b>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}